/* basic styles */
/* basic color #757575; */
/* secondary color #212121 */
/* secondary-title-color #FFFFFF */
/* accent color #2196F3 */
/* background color #ffffff */
/* footer-bgc #2f303a */

:root {
  --basic-color: #757575;
  --title-color: #212121;
  --secondary-title-color: #ffffff;
  --brand-accent: #2196f3;
  --basic-bgc: #ffffff;
  --footer-bgc: #2f303a;
}

/* ------------------------------BODY-------------------------- */
body {
  background-color: var(--basic-bgc);
  color: var(--basic-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}
.section {
  padding-top: 47px;
  padding-bottom: 47px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
button {
  cursor: pointer;
}
.link {
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
}

/* -----------------------------HEADER------------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-accent);
}

.logo-black {
  color: #000000;
}

.nav-link {
  color: var(--title-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.current {
  color: var(--brand-accent);
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--brand-accent);
}

/* -------------------header-contacts---------------------- */
.header-list,
.header-item,
.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--brand-accent);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--brand-accent);
}
/* ------------------------HERO------------------------ */
.hero {
  background-color: #2f303a;

  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--secondary-title-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;

  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  color: var(--secondary-title-color);
  background-color: var(--brand-accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 200px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #0087f5;
}

/* -----------------BENEFITS------------------------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits {
  padding-top: 94px;
}
.benefits-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--basic-color);
}

/* ---------------------opportunities----------------------- */

.opportunities-title {
  margin-bottom: 50px;
}

/* --------------------team ------------------------------- */

.team {
  background-color: #f5f4fa;
  margin-bottom: 50px;
}
.team-item {
  background-color: #fff;
}

.employeer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-color);

  margin-bottom: 10px;
  padding-top: 30px;
}
.employeer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--basic-color);

  padding-bottom: 30px;
}

/* footer */

.footer {
  background-color: var(--footer-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-white {
  color: var(--secondary-title-color);
}

.address {
  font-style: normal;
}

.address-item {
  margin-bottom: 9px;
}

.address-link {
  color: var(--secondary-title-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--brand-accent);
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--brand-accent);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--brand-accent);
}

/* ____________PORTFOLIO______________________________ */

.examples {
  padding-top: 100px;
}
.filter-list {
  padding-bottom: 56px;
}
.filter-bnt-accent {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--brand-accent);
  color: var(--secondary-title-color);
}

.filter-bnt {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--title-color);
}

.filter-bnt:hover,
.filter-bnt:focus {
  background-color: var(--brand-accent);
  color: var(--secondary-title-color);
}

.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
  margin-bottom: 4px;
}
.example-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--basic-color);
}
